#navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(2, 57, 133);
}
#navbar > a{
    text-decoration: none;
    background-color: rgb(255, 249, 144);
    border-radius: 7px;
    font-weight: 600;
    padding: 4px;
}